<section id="content" class="body">
        <h1 class="entry-title">what is wallabag?</h1>

        <div class="entry-content">
            <p style="text-align:center">
    <img alt="wallabag" src="https://www.wallabag.org/images/logo.png"></p>
<p>wallabag is a <strong>self hostable application for saving web pages</strong>. Unlike other services, wallabag is free (as in freedom) and open source.</p>
<p>With this application you will not miss content anymore. <strong>Click, save, read it when you want</strong>. It saves the content you select so that you can read it when you have time.</p>
<h2>How it works</h2>
<p>Thanks to the bookmarklet or <a href="https://www.wallabag.org/pages/download-wallabag.html">third-party applications</a>, you save an article to your wallabag to read it later. Then, when you open your wallabag, <strong>you can comfortably read your articles</strong>.</p>
<h2>How to use wallabag</h2>
<p>There are two ways to use wallabag: <a href="https://www.wallabag.org/pages/download-wallabag.html">you can install it on your web server</a> or you can <a href="https://www.framabag.org/">create a free account at Framabag</a>. Framabag is a <a href="http://www.framasoft.net"><span style="font-weight: bold; color: #6a5687;">Frama</span><span style="font-weight: bold; color: #eb7e41;">soft</span></a> service.</p>
<h2>License</h2>
<p>wallabag is released under <a href="http://en.wikipedia.org/wiki/MIT_License">the MIT license</a>.</p>
        </div>
    </section>